[Unit]
Description = Reports disk usage of file systems of type %i in SI-Units to the telegram bot

[Service]
Type=oneshot
ExecStart=/usr/local/bin/telegram-df-ht.sh %i

StandardOutput=journal+socket
StandardInput=socket

ProtectSystem=strict
ProtectHome=read-only
NoNewPrivileges=true
ProtectProc=noaccess

